body{
    margin:0;
    padding: 0;
    background: linear-gradient(45deg, #fbda61, #ff5acd);
    background-size: cover;
    min-height:150vh;

}


@font-face {
    font-family: Supermario;
    src: url(SuperMarioBros-ov7d.ttf);
}

/* ==================Header====================== */

.header{
    position: relative;
    border-color: red;
    border-style: double;
    height: 200px;
}
.header #video{
    position: absolute; 
    top: 0px;
    left:0;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.header #texto{ 
    color: fuchsia;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-family: supermario;
    font-size: 15vw;
    mix-blend-mode: exclusion;
}
.header a{
    font-family: Supermario;
    color: white;
    top: 150px;
    position: relative;
    text-decoration: none;
    margin: 2vw 3vw;
    font-size:4vw;
    transition: 0.3s;
}
.header a:hover{
    margin:0;
    font-size: 4.5vw;
  border: white solid;

}

/* ==================Nav======================= */
.nav{
    position:relative;
    height:65px;
    width:100vw;
 

}
.nav #search{
    font-family: Supermario;
    font-size: 2vw; 
    color: fuchsia;
    position: absolute;
    margin:0 10vw;
    width: 80vw;
    height: 30px;
    border-radius:50px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0.35);
    display:flex;
    justify-content:center;
    transition: 0.3s;
    overflow: hidden;
}
.nav #search label{
    position:absolute;
    top: 5px;
    transition:0.3s;
}
.nav #search #text{
    color: fuchsia;
    border:2px fuchsia solid;
  transition: 0.3s;
    position: absolute;
    top:25px;
     margin:7px 10vw;
    width: 50vw;
    height: 10px;
    border-radius:50px;
    font-size: 20px;
    font-family: Supermario;

}
.nav #search:hover{
    height: 65px;

}
.nav #search i:hover{
    border-bottom: 3px solid fuchsia;
}
.nav #text:hover{
    border-color: fuchsia;
    height:20px;
}

    /* Responsive */

    @media screen and (min-width:630px){

        .header #texto{
            margin-top: 30px;

        }
        .header a{
            font-size:2.8vw;
            margin:1.8vw 2.8vw;
         
        }
        .header a:hover{ 
            font-size: 3.5vw;
        }
    }
    @media screen and (max-width:680px){
        .nav #search{
            font-size:4vw;
        }

    }

    @media screen and (max-width:480px){
      
        .header #texto{
            position: absolute;
            top: 30px;
            left: 50%;
            transform: translatex(-50%);
            font-size: 17vw;
        }
    }
    @media screen and (min-width:750px){

        .header a{
            margin: 1.5vw 2.5vw;

        }
    }
    @media screen and (min-width:850px){
        .header #texto{
            margin-top:5px;
            font-size: 12vw;
        }
        .header a{ font-size: 2.5vw;
            margin: 1.3vw 2.3vw;
        }
         .header a:hover{
            font-size: 3vw;
         }
        }
    /*=============Section==============*/

    #contenidobox{
        background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius:10px;
    width: 50vw;
    height: 100%;
    position: absolute;
    flex-direction: column;
    right:0;
    overflow: auto;
        
    }
    #contenidobox .contenido:nth-child(1){background-image: url(img/contenidobox/LIGHTYEAR\ 2022.jpg);}
    #contenidobox .contenido:nth-child(2){background-image: url(img/contenidobox/minions\ the\ rise\ of\ gru.jpg)}
    #contenidobox .contenido:nth-child(3){background-image: url(img/contenidobox/thor\ 2022.jpg)}
    #contenidobox .contenido:nth-child(4){background-image: url(img/contenidobox/sonic\ 2.jpg)}
    #contenidobox .contenido:nth-child(5){background-image: url(img/contenidobox/avatar\ 2.jpg)}
    #contenidobox .contenido:nth-child(6){background-image: url(img/doctor\ strange\ poster.jpg)}
    #contenidobox .contenido:nth-child(7){background-image: url(img/contenidobox/chip\ and\ dale.jpg)}

    #contenidobox .contenido{
        background-position: center;
        background-size: cover;
        position:relative;
        width: 47vw;
        height: 350px;
      margin:4vw 2vw;

    }

    /* ==============Aside Destacado================== */
    .galery{
        overflow:hidden;
        border-radius: 10px;
        width:50vw;
        height:50vh;
        display:flex;
        position: relative;
        margin: 0;
         --clip:circle(0 at center);
        --transition: clip-path .3s;
    }
    .galery p{
        position:absolute;
    }
    .galeryimg:nth-child(1){
        background-image: url(img/doctor\ strange\ poster.jpg);
        --message:"Doctor Strange";
    }
    .galeryimg:nth-child(2){
        background-image: url(img/capitan\ marvels.jpg);
        --message:"Capitan Marvel";
    }
    .galeryimg:nth-child(3){
        background-image: url(img/ms\ marvel.jpg);
        --message:"Ms Marvel";
    
      
    }
    .galeryimg{
        width: 60px;
        height:100%;
        background-position: center;
        background-size: cover;
        transition: flex 0.5;
        flex:1;
        display:grid;
        transition: 0.5s;
    
       
    }
    .galeryimg::before{
        content:var(--message);
        display: grid;
        place-items: center;
        background-color: #1d1d1e27;
        font-family: arial;
        font-size: 10px;
        color:#fff;
        clip-path:var(--clip);
        transition:var(--transition);
    }
    .galeryimg:hover{
        flex:6;
        --clip:circle(100% at center);
        --transition:clip-path 0.4s, 0.5s;
    }

    /* <!--=================Aside series===================== --> */
    .series-estrenos{
        background-position: center;
        background-size: cover;
        position:relative;
        margin:0;
        display:flex;
        height:50vh;
        width: 50vw;
        overflow:hidden;
        animation-name: cambiadorfondo3;
        animation-duration: 30s;
        animation-direction: alternate;
        animation-iteration-count: infinite;

    }
 
   .font-section{
    font-size: 4vw;
    font-family:arial;
    color: #fff;
   }
    .palomita{
        position: absolute;
        margin: 4vw 0 0 5px;
        height: 6vw;
        width:6vw;
        right: 17px;
    }
    @keyframes cambiadorfondo3 {
        0%{background-image: url(img/stranger\ things.jpg) }
        20%{background-image: url(img/stranger\ things.jpg) }

        25%{background-image: url(img/vikings.jpg) }
        50%{background-image: url(img/vikings.jpg) }

        55%{background-image: url(img/Estamos\ muertos.jpg) }
        80%{background-image: url(img/Estamos\ muertos.jpg) }

        85%{background-image: url(img/la-casa-papel-core.jpg) }
        100%{background-image: url(img/la-casa-papel-core.jpg) }
    }
